<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Student@NWPHS</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= yield :page_scripts %>
</head>

<body>
  <div class="container-fluid p-0">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="<%= root_path %>"><span class="terminal-green">Student@NWPHS</span><span class="terminal-white">:</span><span class="terminal-blue"><%= "~/#{controller_name}/#{action_name} $" %></span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Freshman</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= url_for :controller => :freshman_projects, :action => :index %>">Projects</a>
          <a class="dropdown-item" href="<%= url_for :controller => :freshman_workshops, :action => :index %>">Workshops</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sophomore</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= url_for :controller => :sophomore_projects, :action => :index %>">Projects</a>
          <a class="dropdown-item" href="<%= url_for :controller => :sophomore_workshops, :action => :index %>">Workshops</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Junior</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= url_for :controller => :junior_projects, :action => :index %>">Projects</a>
          <a class="dropdown-item" href="<%= url_for :controller => :junior_workshops, :action => :index %>">Workshops</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Senior</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= url_for :controller => :senior_projects, :action => :index %>">Projects</a>
          <a class="dropdown-item" href="<%= url_for :controller => :senior_workshops, :action => :index %>">Workshops</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About me</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= url_for :controller => :about, :action => :myself %>">About myself</a>
          <a class="dropdown-item" href="<%= url_for :controller => :about, :action => :competitions %>">Competitions</a>
          <a class="dropdown-item" href="<%= url_for :controller => :about, :action => :certificates %>">Certificates</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= url_for root_path %>">Home</a>
      </li>
    </ul>
  </div>
</nav>
  <%= yield %>
</div>
</body>
</html>
